# Files to ignore:

.Rproj.user/
.RData
.Rhistory
*.xlsx
*.html
*.csv
*.history
*.zip
*.RData
*.rds
*.ipynb
*.Rout
*.Rproj
*.mp4
Icon\r
icon*
.Rproj.user

# Large files:

uni/forecasting/large-files/
datasets/large/

# Large uni files:

uni/2018/ethicsandlaw/06wk-lep__data-science-in-the-wild--collete-marias/06wk-lep__data-science-in-the-wild--colette-marais.pdf
uni/machine-learning/ML-Fundamentals-book.pdf
uni/machine-learning/to ml/ML_Chapter11.pdf
uni/social-media/w08-social-network-analysis/w10 social lecture.m4s
uni/social-media/w09-community-detection/articles/1-s2.0-S0370157309002841-main.pdf
uni/social-media/w2-text-analysis/lab/lab-i-did-this/Posts.json
uni/social-media/w2-text-analysis/lab/lab02Code/Posts.json
