.Rproj.user/
.RData
.Rhistory
*.xlsx
*.html
*.csv
*.history
*.zip
scrapy/
*.RData
*.rds
*.ipynb
*.Rout
*.Rproj
python-and-machine-learning/
.Rproj.user
python/
data-preprocessing-math2349/assignment2/
data-preprocessing-math2349/assignment3/
data-preprocessing-math2349/assignment3/README.md
r-scraper-framework/
