.Rproj.user/
.RData
.Rhistory
*.xlsx
*.html
*.csv
*.history
*.zip
scrapy/
*.RData
*.rds
*.ipynb
*.Rout
*.Rproj
*.mp4
python-and-machine-learning/
.Rproj.user
python/
uni/2018/data-preprocessing-math2349/assignment2/
uni/2018/data-preprocessing-math2349/assignment3/
r-scraper-framework/
tensorflow-1.4.1-cp36-cp36m-macosx_10_13_x86_64.whl
study-other/python-udemy-with-nath/tensorflow
# uni/2018/data-preprocessing-math2349/01-data-preprocessing-intro/materials/Module 1_files
06wk-lep__data-science-in-the-wild--colette-marais.pdf
uni/2018/ethicsandlaw/datathon video/app melbourne datathon2018 saved by the bell 5min.mov
uni/2018/ethicsandlaw/datathon video/app melbourne datathon2018 saved by the bell 7min.mov
uni/2018/ethicsandlaw/datathon video/app melbourne datathon2018 saved by the bell.mov
ML-Fundamentals-book.pdf
Icon\r
